<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApp</display-name>
  <welcome-file-list>
    <welcome-file>Start.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewEmp</display-name>
    <servlet-name>NewEmp</servlet-name>
    <servlet-class>NewEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEmp</servlet-name>
    <url-pattern>/NewEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataBaseConnection</display-name>
    <servlet-name>DataBaseConnection</servlet-name>
    <servlet-class>com.src.DataBaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataBaseConnection</servlet-name>
    <url-pattern>/DataBaseConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmp</display-name>
    <servlet-name>UpdateEmp</servlet-name>
    <servlet-class>UpdateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmp</servlet-name>
    <url-pattern>/UpdateEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmp</display-name>
    <servlet-name>GetEmp</servlet-name>
    <servlet-class>GetEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmp</servlet-name>
    <url-pattern>/GetEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelEmp</display-name>
    <servlet-name>DelEmp</servlet-name>
    <servlet-class>DelEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelEmp</servlet-name>
    <url-pattern>/DelEmp</url-pattern>
  </servlet-mapping>
</web-app>